@use '../../utils/utils.scss' as *;

.conteiner-sobre-mim {
    flex-direction: column;
    padding-bottom: rem(100) !important;
    gap: rem(50);

    .wraper-text-sobre-mim {
        width: 60%;
        height: auto;

        .p-text-sobre-mim {
            font-family: 'Roboto';
            width: 100%;
            text-align: justify;
            font-size: rem(20);
            text-indent: rem(30);
        }
    }
}

//Responsividade
//largunra <= 1000px

@media (max-width: 1000px) {
    .conteiner-sobre-mim > .wraper-text-sobre-mim {
        width: 80%;
    }
}

//largura <= 700px
@media (max-width: 700px) {
    .conteiner-sobre-mim  {
        gap: rem(25);
        .wraper-text-sobre-mim {
            width: 100%;
            .p-text-sobre-mim {font-size: rem(18);}
        }
    }
}

//Resposnvidade para dispositivos moveis
//Largura <= 500px
@media (max-width: 500px) and (pointer: coarse) {
    .conteiner-sobre-mim > .wraper-text-sobre-mim > .p-text-sobre-mim {
        font-size: rem(15);
    }
}