@use '../../../utils/utils.scss' as *;
@use './Seletor-Idioma.scss' as *;


.Escolher-Lingua {
    border: 3px solid $cor-border-si;
    border-radius: 8px;
    background: $cards;
    left: -100% !important;
    top: 180%;
    position: absolute;
    z-index: 1000;
    width: rem(200);
    height: auto;

    .caret {
        width: 25%;
        height: rem(30);
        bottom: 100%;
        right: 5%;
        background: $cor-border-si;
        position: absolute;
        //deixa ele com formato de um traiagulo
        clip-path: polygon(
            0 100%,
            50% 0,
            100% 100%,
            0 100%
        );
    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(4);
        gap: rem(5);
        
        li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: rem(10);
            justify-content: flex-start;
            width: 100%;
            height: rem(55);
            padding: rem(5);
            border-radius: 5px;

            .img-pais {
                object-fit: contain;
                height: 85%;    
            }

            .nome-pais-idioma {
                font-size: rem(20);
                color: white;
            }
        }
    }
}

.idioma-selecionado {
    //vou da a cor do botao para o idioma selecionando.
    background: $botao;
}

//Responsividade
//largura <= 750px
@media (max-width: 750px) {
    .Escolher-Lingua {
        top: 220%;

        ul > li {
            height: rem(50);

            .nome-pais-idioma {
                font-size: rem(18);
            }
        }
    }
}

//Responsividade para dispositivo movel
.Navegador-dispositivo-movel-EscolherLingua {
    left: -60%;
    top: 190%;

    .nome-pais-idioma {
        font-size: rem(16) !important;
    }

    .caret {
        right: 5%;
    }
}

//largura <= 400px 
@media (max-width: 400px) and (pointer: coarse) {
    .Navegador-dispositivo-movel-EscolherLingua {
        left: -70%;

        .caret {
            height: rem(25);           
            width: 20%;
        }

        ul > li {
            height: rem(45) !important;
        }
    }
}