@use '../.././utils/utils.scss' as *;

.conteiter-minhas-habilidade {
    flex-direction: column;
    gap: rem(40);

    * {border: 1px solid red;}
    
    .conteiner-habilidades {
        display: flex;
        flex-direction: column;
        gap: rem(50);

        .skill-sobre {
            display: flex;
            flex-direction: row;
            width: 50%;
            height: rem(100);

            .skill-sobre-text {
                display: flex;
                gap: rem(5);
                flex-direction: column;
                height: 100%;
                width: 80%;
                
                p {text-indent: 5px;}
            }

            .skill-sobre-img-tag {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                width: 20%;

                img {
                    aspect-ratio: 1 / 1;
                    height: rem(80);
                    object-fit: cover;
                    opacity: 0.5;
                }
            }
        }
    }
}

//Responsividade
//largura <= 1000px
@media (max-width: 1000px) {
    .conteiter-minhas-habilidade > .conteiner-habilidades > .skill-sobre {
        width: 70% !important;
    }   
}

@media (max-width: 700px) {
    .conteiter-minhas-habilidade {
        gap: rem(20) !important;

        .conteiner-habilidades > .skill-sobre {
            width: 100% !important;
            .skill-sobre-img-tag > img {
                height: rem(70);
            }
        }
    }
}

//Dispositivos Moveis, Nao vi necessidade de fazer.