@use '../../../utils/utils.scss' as *;

//Paletas
$fundo-vi: #0f0f0f73;

.conteiner-ver-imagem {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 100000;
    backdrop-filter: blur(5px);
    background: $fundo-vi;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        user-select: none;
    }

    .conteiner-ver-imagem-show {
        border-radius: 5px;
        border: 3px solid white;
        overflow: hidden;
        position: relative;
        width: 95%;
        height: auto;
        box-shadow: 0 0 10px 0 white;

        .imagem-ver {
            width: 100%;    
            height: auto;      

            img {
                position: relative;
                z-index: 1;
                height: auto;
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}

//nao pode clica
.noclick {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
}