@use "../../utils/utils.scss" as *;

.wraper-conteiner-cabeca {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;

    .back-circle {
        position: absolute;
        left: -20%;
        top: -20%;
        filter: blur(100px);
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: rgb(39, 154, 241);
        box-shadow: 0 0 20px 0 rgb(39, 154, 241);
        opacity: 0.2;
    }
    

    * {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: white;
    }

    .conteiner-cabeca {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: rem(20);
    
        .conteiner-imagem-penso {
            margin-top: rem(50);
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: rem(5);

            .img-MinhaFoto {
                aspect-ratio: 1 / 1;
                border: 5px solid $cards;
                height: rem(300);
                object-fit: contain;
                border-radius: 50%;
            }
        }

        .wraper-conteiner-conteudo-head {
            display: flex;
            flex-direction: column;
            height: rem(300);
            padding: rem(5);
            gap: rem(30);

            //Meu nome
            .meunome-head {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(30);
            }

            //Frase sobre mim curta
            .frase-curta-head {
                text-align: center; 
                font-size: rem(18);
            }

            .conteiner-botao-head {
                display: flex;
                gap: rem(30);
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
            }
        }
    }
}

//Responsividade
//largura <= 1000px

@media (max-width: 1000px) {
    .wraper-conteiner-cabeca > .conteiner-cabeca {
        width: 60%;
        .conteiner-imagem-penso > .img-MinhaFoto {
            height: rem(270);
        }
    }
}

//largura <= 700px 
@media (max-width: 700px) {
    .wraper-conteiner-cabeca > .conteiner-cabeca {
        width: 80%;
        .conteiner-imagem-penso > .img-MinhaFoto {
            height: rem(250);
        }
    }
}

//largura <= 600px
@media (max-width: 600px) {
    .wraper-conteiner-cabeca > .conteiner-cabeca {
        width: 100%;

        .wraper-conteiner-conteudo-head {
            .meunome-head {
                font-size: rem(26);
            }

            .frase-curta-head {
                font-size: rem(16);
            }
        }
    }
}

//Responsividade
//para celular
//largura <= 500px
@media (max-width: 500px) and (pointer: coarse) {
    .wraper-conteiner-cabeca > .conteiner-cabeca {
        gap: rem(5);

        .conteiner-imagem-penso > .img-MinhaFoto {
            height: rem(200);
        }

        .wraper-conteiner-conteudo-head { 
            gap: rem(20);
            .frase-curta-head {
                font-size: rem(15);
            }

            .meunome-head {
                font-size: rem(23);
            }
        }
    }
}

//largura <= 400px 
@media (max-width: 400px ) and (pointer: coarse) {
    .wraper-conteiner-cabeca > .conteiner-cabeca {
        gap: 0;

        .conteiner-imagem-penso > .img-MinhaFoto {
            height: rem(190);
        }

        .wraper-conteiner-conteudo-head {
            gap: rem(15);
        }
    }
}