@use "../../utils/utils.scss" as *;

.wraper-conteiner-cabeca {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    * {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        color: white    ;
    }

    .conteiner-cabeca {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: rem(20);
    
        .conteiner-imagem-penso {
            margin-top: rem(50);
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: rem(5);

            .img-MinhaFoto {
                aspect-ratio: 1 / 1;
                border: 5px solid $cards;
                height: rem(300);
                object-fit: contain;
                border-radius: 50%;
            }
        }

        .wraper-conteiner-conteudo-head {
            display: flex;
            flex-direction: column;
            height: rem(300);
            padding: rem(5);
            gap: rem(30);

            //Meu nome
            .meunome-head {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(30);
            }

            //Frase sobre mim curta
            .frase-curta-head {
                text-align: center; 
                font-size: rem(18);
            }

            .conteiner-botao-head {
                display: flex;
                gap: rem(30);
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
            }
        }
    }
}
