@use '../../utils/utils.scss' as *;

.conteiner-contato {    
    flex-direction: column;
    gap: rem(10);
    p {text-indent: 0;}

    .conteiner-icone-link {
        background: rgba(255, 255, 255, 0.607);
        width: max-content;
        height: rem(70);
        display: flex;
        gap: rem(10);
        padding: rem(5);
        border-radius: 5px;
        margin-bottom: 10vh;

        a.link-contato {
            aspect-ratio: 1 / 1;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

//Responsividade
//largunra <= 600px
@media (max-width: 600px) {
    .conteiner-contato > .conteiner-icone-link {
        height: rem(60);
    }
}

//Responsividade para dispositivos moveis
//largura <= 400px
@media (max-width: 400px) and (pointer: coarse) {
    .conteiner-contato > .conteiner-icone-link {
        height: rem(55);
    }
}