@use '../../../utils/utils.scss' as *;

.conteiner-botao-selecionar {
    min-width: rem(140);

    button {
        font-family: 'Roboto';
        transition: 0.3s ease;
        background: $botao;
        border: 0;
        outline: 0;
        width: 100%;
        height: rem(50);
        font-weight: bold;
        font-size: rem(23);
        border: 2px solid $botao-bordar;
        border-radius: rem(5);
        cursor: pointer;

        &:hover {transform: scale(0.95); filter: brightness(0.9);}
    }
}


//Responsividade
//largura <= 700px
@media (max-width: 700px) {
    .conteiner-botao-selecionar > button {
        font-size: rem(20);
    }
}

//Responvidade para dispositivos moveis
//Para celulares
@media (max-width: 500px) and (pointer: coarse) {
    .conteiner-botao-selecionar  {
        min-width: rem(120);
        button {
            height: rem(45);
            font-size: rem(18);
        }
    }
}

//largura <= 400px 
@media (max-width: 400px) and (pointer: coarse) {
    .conteiner-botao-selecionar > button {
        height: rem(40);
    }
}