@use '../../utils/utils.scss' as *;

$cor-border: #343030; 

.Navegador {
    position: relative;
    z-index: 100000;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: rem(3);
    padding-right: 3vw;
    margin-top: 3vh;
    gap: 3vw;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(
            90deg,
            transparent 0%,
            $cor-border 70%,
            $cor-border 100%,
            );  
    }

    .lista-nav {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: rem(30);
        
        li {
            flex: 1;
            a {
                color: $texto-segundario;
                font-size: rem(20);
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

//Responsivade
//largura <= 750px
@media (max-width: 750px) {
    .Navegador {
        gap: 2vw;

        .lista-nav {
            gap: rem(15);
            li > a {
                font-size: rem(18);
            }
        }
    }
}

//Resposnvidade para o Dispositivos moveis
//class responsavel por criar o menu propriamente para os dispositivos moveis.
.menu-mobile-nav {
    position: absolute;
    left: 110%;
    top: 2%;
    height: rem(50);
    aspect-ratio: 1 / 1;
}

.Navegador-dispositivo-movel-navbar {
    position: absolute;
    left: -100%;
    min-width: rem(150);
    width: auto;
    height: 100%;
    margin: 0;
    padding: rem(15) 0 0 0;
    justify-content: flex-start;
    background: rgba($cards, 0.3);
    border-right: 4px solid $cards;
    transition: left 0.3s ease;
    backdrop-filter: blur(5px);

    &::before {background: none;}

    .lista-nav {
        flex-direction: column !important;
        width: 100%;
        padding: 0 rem(5) 0 rem(5);
        gap: 0;

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0; 
            width: 100%;
            height: rem(30) !important;
            padding: rem(10) 0 rem(10) 0;

            //linhas entrem eles.
            &::before {
                position: absolute;
                top: 90%;
                background: rgba($texto-segundario, 0.9);
                content: '';
                width: 80%;
                height: 1px;
            }
        }
        //Retirando a linha do ultimo texto
        li:last-child {
            &::before {
                display: none;
            }
        }
    }
}

//largura <= 400px
@media (max-width: 400px) and (pointer: coarse) {
    .lista-nav > li > a {
        font-size: rem(16) !important;
    }

    .menu-mobile-nav {
        height: rem(45);
        left: 105%;
    }
}