@use '../../../utils/utils.scss' as *;

.conteiner-info-projeto-sobre-mais {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-top: 4px solid white;
    padding: rem(5);
    gap: rem(20);
    margin-bottom: 10vh;

    .p-sobre-mais {
        width: 70%;
        text-wrap: wrap;
        min-width: 0;
        //quebrar esse gld
        overflow-wrap: break-word;
        word-break: break-word;
    }

}

//responsividade
@media (max-width: 800px) {
    .conteiner-info-projeto-sobre-mais > .p-sobre-mais {
        width: 100% !important;
    }
}