@use '../../../utils/utils.scss' as *;

$cor-border-si: #5e5e5e;

.Seletor-Idioma {
    background: linear-gradient(180deg, $cards, lighten($cards, 5%));
    border: 3px solid $cor-border-si;
    height: 100%;
    width: auto;
    padding: rem(7);
    border-radius: 5px;
    transition: background 0.2s;
    position: relative;

    &:hover {
        background: lighten($cards, 15%);
    }


    ul {
        display: flex;
        width: 100%;
        height: 100%;
        gap: rem(15);

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;

            //As imagems
            .img-globo , .setar-baixo  {
                aspect-ratio: 1 / 1;
                height: 100%;
            }

            //Paragrafo presente la.
            .sigla-lingua {
                font-size: rem(25);
                font-weight: bold;
                color: white;
            }

            .setar-baixo {
                height: 45%;
            }
        }

        li:nth-child(3) {
            img {transition: transform 0.1s ease-in-out;}
            cursor: pointer;
        }
    }
}

//Responsividade
//largura <= 750px
@media (max-width: 750px) {
    .Seletor-Idioma {
        height: 80%;

        ul > li > .setar-baixo {
            height: 60%;
        }
    }
}

//Responsividade Movel
.Navegador-dispositivo-movel-SeletorIdioma {
    position: absolute;
    top: 12%;
    width: auto;
    height: rem(45);
    transition: left 0.34s ease-in-out;

    ul > li > .sigla-lingua {
        font-size: rem(23);
    }
}

@media (max-width: 400px) and (pointer: coarse) {
    .sigla-lingua {
        font-size: rem(20) !important;
    }
}