@use '../../utils/utils.scss' as *;

.conteiner-move-scroll {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    width: rem(100);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        position: relative;
        z-index: 101;
        aspect-ratio: 1 / 1;
        height: 20%;
        color: white;
        transform: rotate(180deg);
        cursor: pointer;
        transition: 0.1s;
    }
}

//deagrade
//esquerdo
.deagrade-left {background: linear-gradient(270deg, transparent, $fundo);}
//direito
.deagrade-right {background: linear-gradient(270deg, $fundo, transparent);}
